.issue {
    border: 1px solid #eeeeee;
    border-left-width: 5px;
    padding-left: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    cursor: pointer;

    h3, p {
        margin: 0;
    }

    h3 {
        margin: 5px 0;
    }

    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

.selected-issue {
    background-color: #fcf7e3;
}

.temp-container {
    opacity: .5;
}

.must-issue {
    border-left-color: red;
}

.should-issue {
    border-left-color: #ffcc00;
}

.could-issue {
    border-left-color: green;
}